.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding, 0);
  padding-right: var(--container-padding, 0);
}

@media (max-width: 1279px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}

.container-fluid {
  width: 100%;
}