:root {
  --color-bg: #fefeff;
  --color-text: #0f172a;
  --color-link: #1a73e8;
  --color-link-hover: #174ea6;
  --color-warning: #ec1515;

  --font-size-h-1: 2rem;
  --font-size-h-2: 1.5rem;
  --font-text: 1rem;
  
  --fonts-size-text: 1rem;
  
  --font-weight-bold: 700;
  --font-weight-semi: 600;
  --font-weight-normal: 400;
  --font-weight-light: 300;

  --container-padding: 1rem;

  --breadcrumbs-gap: 0.25rem;
  
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

[data-theme="dark"] {
  --color-bg: #101214;
  --color-text: #f5f7fb;
  --color-link: #8ab4f8;
}

@media (max-width: 1279px) {
  :root {
    --font-size-h-1: 1.75rem;
    --font-size-h-2: 1.25rem;
    --fonts-size-text: 0.875rem;
  }
}

@media (max-width: 767px) {
  :root {
    --font-size-h-1: 1.5rem;
    --font-size-h-2: 1.125rem;
    --fonts-size-text: 0.75rem;
  }
}
