.breadcrumbs {
  display: flex;
  align-items: center;
  gap: var(--breadcrumbs-gap);
  max-width: 100vw;
  overflow-x: hidden;
}

.breadcrumbs .separator {
  padding-right: var(--breadcrumbs-gap);
}

.breadcrumbs.variant--wrap {
  flex-wrap: wrap;
}

.breadcrumbs.variant--truncate {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.breadcrumbs .label {
  display: inline-flex;
  white-space: nowrap;
}